{% extends 'base.html' %}
{% block title %}
    Login Page
{% endblock %}

{% block body %}
    <div class="container" style="width:50%">
          <br/>
          <br/>
          <br/>
          <br/>
            <div style='text-align: center;'>
            {% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
							{{ message }}
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>

					{% endfor %}
				{% endif %}
			{% endwith %}
            </div>

          <br/>
          <br/>
          <br/>

          <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }}
                <h1 class="text-center">
                Please Login!
            </h1>
              <br/>
              <br/>
            {{ form.username.label() }}
            <br/>
            {{ form.username(class="form-control", placeholder="user name...") }}
            <br/>

            {{ form.password.label() }}
            <br/>
            {{ form.password(class="form-control", placeholder="password...") }}
            <br/>
            <br/>
            <div style='text-align: center'>
            {{ form.submit(class="btn btn-primary btn-lg")}}
            </div>
              <br/>
              <br/>
            <div class="checkbox mb-3", style='text-align: center'>
                <h6>Don't have an account? &nbsp;&nbsp;
                    <a class="btn btn-outline-primary btn-sm"
                       href="{{ url_for('register_page') }}">Register</a></h6>

            </div>

        </form>
    </div>
{% endblock %}
